.story-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ws-title {
    margin-top: 30px;
    margin-left: 250px;
}

.story-form {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.ws-errors {
    color: rgb(255, 73, 73);
}

.ws-form-field {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 100%;
}


.sf-input {
    height: 50px;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;

}

.sf-content {
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.sf-input:focus {
    outline: none;
    box-shadow: 0 0 5px 5px rgb(215, 231, 250);
    transition: all 0.20s ease-in-out;
}

.sf-content:focus {
    outline: none;
    box-shadow: 0 0 5px 5px rgb(215, 231, 250);
    transition: all 0.20s ease-in-out;

}

.ws-button {
    margin-left: 0px;
    background-color: #161618;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    border: 0;
    box-shadow: none;
    transition-duration: 0.4s;
    margin-top: 10px;
  }

  .ws-button:hover {
    background-color: rgb(12, 163, 57);
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    border: 0;
    box-shadow: none;
  }
