.comments-title {
    margin-left: 7%;
    margin-top: 7%;
}

.comments-subtitle {
    margin-left: 7%;
    margin-top: 7%;
    margin-bottom: 7%;
    color: gray;
}

#comments-div {
    margin-top: 50px;
}

.comments-list {
    padding: 20px;
    border-bottom: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
}

#cmt-bdy {
    line-height: 1.6;
    margin-top:10px;
}

.wc-button {
    margin: 10px;
    background-color: transparent;
    border-radius: 30px;
    width: 20%;
    border-color:rgb(0, 183, 255);
}

.clear {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(51, 107, 107);
    margin-left: 10%;
    font-size: 18px;
}

.ed-button {
    margin: 10px;
    border: none;
    background-color: transparent;
    color: rgb(15, 133, 180);
    text-decoration: underline;
    cursor: pointer;

}

.sc-button {
    margin: 10px;
    background-color: transparent;
    border-radius: 30px;
    width: 20%;
    border-color:rgb(152, 231, 152)
}

#comments-form{
    margin-left: 20px;
    margin-top: 30px;
}

.ic-field {
    border-radius: 5px;
    padding: 10px;
}

.ic-field:focus {
    outline: none;
    box-shadow: 0 0 5px 5px rgb(215, 231, 250);
    transition: all 0.20s ease-in-out;

}
