
#sd-img {
    height: 500px;
    width: 700px;
}

/* #story-comments {
    display: flex;
    justify-content: space-between;
} */

.storyDetailsAll {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#story-details {
    /* width: 700px; */
    margin-top: 20px;
}

#story-body {
    line-height: 1.6;
}

.story-elements {
    padding: 10px;
    white-space: pre-wrap;
}

#comments-btn {
    margin-top: 5%;
    margin-bottom: 30px;
    border-radius: 30px;
    background-color: transparent;
    border-color:green;
    height: 40px;
    width:30%;
    margin-left: 30%;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 500px;
    right: -500px;
    transition: all 0.2s linear;
    background-color: white;
    box-shadow: 0px 0 8px 1px lightgray;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }

.sidebar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

#sidebar-close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: small;
    cursor: pointer;
}

.allReviewsSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.allGoogleMapWidgetInfo:hover{
    /* border: 35px solid #f3f4f7; */
    border-radius: 20px;
    background-color: #f6f5f0;
    background-image:linear-gradient(to bottom, #f6f5f0 100%, #f6f5f0 100%), linear-gradient(to bottom, rgb(61, 152, 255) 0%, rgb(90, 195, 255) 100%);
    background-clip: content-box, padding-box;
    box-shadow: 9px 9px 16px rgba(116, 192, 255, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}
