#footer-container {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding-bottom: 20px;
    margin-top: 3%;
    /* background-color: rgb(255, 255, 255); */
    /* border: 2px solid hotpink; */
}

#name {
    /* margin-top: 20px; */
    color: rgb(100, 100, 100);
    font-weight: bold;
}

#links {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

#github {
    /* margin: 20px; */
}

.links-logo {
    height: 30px;
    width: 30px;
    margin: 10px;
}

.links-logo:hover {
    transform: scale(1.5);
}
