#main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: fit-content;
    margin: 0;
    /* margin-left: 150px;
    margin-right: 150px; */
    background-color: black;
    padding-bottom: 50px;
}

#aboutDiv{
    background-color: black;
    padding-top: 60px;
}

#about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    padding-bottom: 50px;
}

#recommended{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color: black;
}

#hp-misc-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 400px;
    background-color: rgb(255, 183, 185);
    /* border-bottom: 1px solid black; */
}

#quotes-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: left;
    justify-content: space-evenly;
}

#quote1 {
    font-size: 45px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#quote2 {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#home-house-img {
    /* max-width: 50%; */
    margin-top: 80px;
    max-height: 50%;
}
