.old-img-cnt {
    padding: 10px;
    display:flex;
}

#old-img {
    width: 10%;
}

.rowPics{
    width: 120px;
    height: 90px;
    padding: 10px;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    padding: 5px;
}

.close:hover {
    font-weight: bold;
    cursor: pointer;
}

.priceAndDigits{
    font-size: 1.1em;
}
