::placeholder {
    text-align: center;
  }
   form {
    display: flex;
    justify-content:center;
    margin-bottom: 50px;
   }
   .finderBad {
    background-color: #f6f5f0;
    border-radius: 100px;
    padding: 8px;
    width: 464px;
    box-shadow: 9px 9px 16px rgba(189, 189, 189, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
   }

   /* RED */
   .finderBad:hover{
    background-color: #f6f5f0;
    background-image:linear-gradient(to bottom, #f6f5f0 100%, #f6f5f0 100%), linear-gradient(to bottom, rgb(255, 61, 68) 0%, rgb(255, 90, 96) 100%);
    background-clip: content-box, padding-box;
    box-shadow: 9px 9px 16px rgba(255, 116, 116, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
   }

.finderBad:focus-within{
  background-color: #f6f5f0;
  background-image:linear-gradient(to bottom, #f6f5f0 100%, #f6f5f0 100%), linear-gradient(to bottom, rgb(255, 61, 68) 0%, rgb(255, 90, 96) 100%);
  background-clip: content-box, padding-box;
  box-shadow: 9px 9px 16px rgba(255, 116, 116, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

   .finderBadClicked {
    background-color: #f6f5f0;
    border-radius: 15px;
    padding: 8px;
    box-shadow: 9px 9px 16px rgba(255, 116, 116, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
    background-image:linear-gradient(to bottom, #f6f5f0 100%, #f6f5f0 100%), linear-gradient(to bottom, rgb(255, 61, 68) 0%, rgb(255, 90, 96) 100%);
    background-clip: content-box, padding-box;
  }

   .finderBad__outer {
    display: flex;
    width: 400px;
    padding: 1.5rem 2rem;
    border-radius: 100px;
    box-shadow: inset 10px 10px 15px -10px #c3c3c3, inset -10px -10px 15px -10px #ffffff;
   }
   .finderBad__inner {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1;
   }
   .finderBad__form {
    flex: 1;
    height: calc(100% + 3rem);
   }
   .finderBad__input {
    text-align: center;
    height: calc(100% + 3rem);
    width: 320px;
    padding-left: 30px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.5rem;
    letter-spacing: 0.75px;
   }
   .finderBad__icon {
    width: 40px;
    height: 40px;
    /* margin-right: 1rem; */
    transition: all 0.2s;
    box-shadow: inset 0 0 0 20px #292929;
    border-radius: 50%;
    position: relative;
   }
   .finderBad__icon:after, .finderBad__icon:before {
    display: block;
    content: "";
    position: absolute;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   }
   .finderBad__icon:after {
    width: 15px;
    height: 15px;
    background-color: #292929;
    border: 3px solid #f6f5f0;
    top: 40%;
    position: absolute;
    transform: translateY(-50%);
    left: 7px;
    right: 0;
    margin: auto;
    border-radius: 50%;
   }
   .active .finderBad__icon:after {
    border-width: 10px;
    background-color: #f6f5f0;
   }
   .finderBad__icon:before {
    width: 4px;
    height: 13px;
    background-color: #f6f5f0;
    top: 50%;
    left: 20px;
    transform: rotateZ(45deg) translate(-50%, 0);
    transform-origin: 0 0;
    border-radius: 4px;
   }
   .active .finderBad__icon:before {
    background-color: #292929;
    width: 6px;
    transform: rotateZ(45deg) translate(-50%, 25px);
   }
   .processing .finderBad__icon {
    transform-origin: 50%;
    animation: spinner 0.3s linear infinite;
    animation-delay: 0.5s;
   }
   .active .finderBad__icon {
    transform: translateY(-5px);
   }
   @keyframes spinner {
    0% {
     transform: rotateZ(45deg);
    }
    100% {
     transform: rotateZ(405deg);
    }
   }
