.priceValueSearch{
    width: 30rem;
}

.priceSliderContainer{
    margin: 0;
    padding: 0;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    color: #6D7587;
    background-color: var(--back-color);
    cursor: pointer;
    outline: none;
}

.priceSliderContainerOutput{
    margin-right: 10px;
}
