.reviews-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.7rem;
  margin-bottom: 15px;
}

#reviewUl {
  list-style-type: none;
  display: inline;
}

#reviews-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#reviews-form-send {
}

.the-review {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
}

.reviewIcon {
  margin-right: 10px;
}

.reviews-list {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
}

.editAndDeleteButtonRow {
  /* margin-top: 10px; */
  margin-left: 20px;
}

.ic-field {
  /* border-color: rgb(255, 90, 96);
  border-width: 5px; */

  background-color: var(--back-color);
  border-radius: 20px;
  border: 3px solid #f3f4f7;
  box-shadow: 2px 2px 3px rgba(55, 84, 170, 0.15),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, 0.15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, 0.2) !important;
  padding: 5px 15px;
  outline: none !important;
  color: #535d74;
  font-size: 1.5rem;
}

.reviewsDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#deleteButton {
  margin-left: 10px;
}

#cancelButton {
  margin-left: 10px;
}

#sendButton {
  margin-left: 10px;
}

#e-d-btn-ctn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}

#deleteButton:hover {
  color: rgb(207, 43, 43);
}

#cancelButton:hover {
  color: rgb(207, 43, 43);
}

#saveButton:hover {
  color: rgb(50, 73, 202);
}

#deleteButton:hover {
  color: rgb(207, 43, 43);
}

#editButton:hover {
  color: rgb(50, 202, 108);
}

#sendButton:hover {
  color: rgb(50, 73, 202);
}

.review__input {
  text-align: center;
  /* width: 320px;
  padding-left: 30px; */
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #6d7587;
  /* letter-spacing: 0.75px; */
}

/* .Toastify__toast-theme--colored.Toastify__toast--success {
   width: 600px;
} */

#updateReviewToast {
  background-color: #3249ca;
}

#reviews-div {
  columns: 2;
}

.createReviewBox {
  margin-top: 2rem;
}
