#profile-button {
  background-color: #4d4d4d;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  /* font-weight: bolder; */
  font-size: medium;
  border: 0;
  box-shadow: none;
  /* border-radius: 4px; */
  margin-right: 30px;
  transition-duration: 0.4s;
}

#profile-button:hover {
  background-color: rgb(255, 255, 255);
  color: #161618;
  text-align: center;
  text-decoration: none;
  /* font-weight: bolder; */
  font-size: medium;
  border: 0;
  box-shadow: none;
  /* border-radius: 4px; */
  margin-right: 30px;
}

#profile-div {
  display: flex;
  flex-direction: row;
}

#profile-dropdown {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.listing-link {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}

a.listing-link {
  background-color: #4d4d4d;
  color: white;
  text-align: center;
  text-decoration: none;
  /* font-weight: bolder; */
  font-size: medium;
  border: 0;
  box-shadow: none;
  /* border-radius: 4px; */
  margin-right: 30px;
  transition-duration: 0.4s;
  font-family: Arial, Helvetica, sans-serif;
}

a.listing-link:hover {
  background-color: #00c3ff;
  color: #161618;
  text-align: center;
  text-decoration: none;
  /* font-weight: bolder; */
  font-size: medium;
  border: 0;
  box-shadow: none;
  /* border-radius: 4px; */
  margin-right: 30px;
}

#logout-btn {
  background-color: rgb(172, 6, 6);
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  /* font-weight: bolder; */
  font-size: medium;
  border: 0;
  box-shadow: none;
  /* border-radius: 4px; */
  margin-right: 30px;
  transition-duration: 0.4s;
}

#logout-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(155, 20, 20);
  text-align: center;
  text-decoration: none;
  /* font-weight: bolder; */
  font-size: medium;
  border: 0;
  box-shadow: none;
  /* border-radius: 4px; */
  margin-right: 30px;
}

.sc-button {
  background-color: #161618;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  /* font-weight: bolder; */
  font-size: medium;
  border: 0;
  box-shadow: none;
  /* border-radius: 4px; */
}

.sc-button:hover {
  background-color: rgb(12, 163, 57);
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  /* font-weight: bolder; */
  font-size: medium;
  border: 0;
  box-shadow: none;
  /* border-radius: 4px; */
}
